/*NORMALIZACION*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    font-family: "Raleway";
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Kalam;
    font-weight: 700;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.menu li {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 2%;

}

.barra {
    width: 80%;
    margin: auto;
}

label img {
    max-width: 80%;
    display: inline-flex;
}
span {
    display: inline-block;
    margin-left: 10px;
}
.bebidas {
    display: inline-flex;
}

.bebidas div {
    display: flex;
    flex-direction: column;
    border: 2px solid #51aebf;
    padding: 5%;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(207, 228, 227);
    justify-content: center;
    align-items: center;
    font-size: large;

}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: rgb(101, 101, 162);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Kalam;
    font-weight: 700;
    
}
@media (max-width: 600px) {
    
    header img {
        width: 200px;
    }
    .bebidas {
        display: flex;
        flex-direction: column;
        
        align-items: center;
        justify-content: center;
    }
    .bebidas div {
        font-size:small;
        max-width: 70%;  
        
    }
    h2{
        font-size: 25px;
    }
    .menu li {
        display: block;
        align-items: center;
        justify-content: center;
        margin-right: 2%;
        padding-bottom: 10px;
    
    }
    
}
.boton-flotante {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    border-radius: 10%;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .boton-flotante:hover {
    background-color: #0056b3;
  }

  contenedor {
    position: relative;
    text-align: center;
  }
  
  .contenedor {
    position: relative;
    text-align: center;
  }
  
  /*Seccion para Mi pedido*/

  .borde {
    border: 2px solid #476e98; /* Color del borde */
    padding: 10px; /* Espacio entre el borde y el texto */
    width: 80%; /* Ajustar el ancho al contenido */
    margin: 0 auto; /* Centrar horizontalmente */
    border-radius: 3px 30px;
  }
  
  .etiqueta {
    position: absolute;
    top: -20%; /* Posición del texto sobre el borde */
    left: 25%; /* Centrar horizontalmente */
    transform: translateX(-50%); /* Centrar horizontalmente */
    background-color: white; /* Fondo del texto */
    padding: 0 10px; /* Espacio alrededor del texto */
    font-weight: bold; /* Negrita */
    z-index: 1; /* Hacer que esté por encima del borde */
  }